@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto:ital,wght@1,100&display=swap');
*{
    padding: 0;
    margin: 0;
}

html{
    font-size: 20px;
}
body{
    font-family:'Roboto', sans-serif;
    background-color: bisque;
    text-align: center;
    min-height: 100vh;
}
header{
    display:flex; 
    align-items: center;
    justify-content: space-around;
    background-color: lightsalmon;

}


h1{
    font-size: 30px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: brown;
    text-shadow: 4px 4px 4px black ;

}
h2{
    font-size: 20px;
    color: green;
}

.text{
    font-weight: 900;
    font-size: 20px;
    text-align: justify;
    margin: 2rem;
}
.logo img{
    width: 200px;
    margin-top: 10px;
}

nav ul li {
    list-style-type: none;

}

nav a{
    text-decoration: none;
    color:white
}

    

.contenedor-uno img{
    border-radius: 5%;
    width: 400px;
    height: 350px;
    margin: 1em;
    
}
.contenedor-uno{
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.imagen-nosotros img {
    border-radius: 5%;
    width: 400px;
    height: 350px;
    margin: 1rem;
}
.imagen-nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;


}

.contenedor-footer{
    display: flex;
}
footer{
    margin-top: 10rem;
    margin-bottom: 0;
    padding: 2rem;
    background-color: lightsalmon;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
@media(min-width:700px){
    nav ul{
        display: flex;
    }
    nav a{
        margin-right: 0.5rem;
    }
    .contenedor-uno img {
        width: 300px;
        height: 250px;
    }
    .contenedor-uno{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;

        
    }
    .imagen-nosotros img{
        width: 300px;
        height: 250px;
    }
    .imagen-nosotros {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    h1{
        font-size: 40px;
        color: black;
    
    }
    h2{
        font-size: 35px;
    }
    .text{
        font-size: 25px;
    }
    }
    

@media(min-width:1100px){
   nav ul {
        font-size: 30px;
   }
   .contenedor-uno img{
    width: 500px;
    height: 450px;
   }
   .imagen-nosotros img{
    width: 500px;
    height: 450px;
   }
   h1{
    font-size: 50px;
   }
   h2{
    font-size: 40px;
   }
   .text{
    font-size: 30px;
   }
   .contenedor-uno img:hover{
    transform: scale(1.1);
    transition: all 2s;
   }
   .imagen-nosotros img:hover {
    transform: rotate(360deg);
    transition: all 3s;

   }
   .logo img:hover{
    transform:scale(1.1);
    transition: all 3s;
   }
   nav a:hover{
    color: brown;
   }
   }

